name: Pull Prompt from new discussion
permissions:
  contents: write
on:
  discussion_comment:
    types: [created,edited]
      
jobs:
  PullPrompt:
    runs-on: ubuntu-latest
    env:
      DISCUSSION_NODE_ID: ${{github.event.discussion.node_id}}
      COMMENT_NODE_ID: ${{github.event.comment.node_id}}
      DISCUSSION_BODY: ${{github.event.discussion.body}}
      COMMENT_BODY: ${{github.event.comment.body}}
    if: ${{github.event.discussion.category}} == "prompts" && ${DISCUSSION_BODY} == *"#branch"*
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          # locate branch using comment's node_id
          ref: ${DISCUSSION_NODE_ID}-${COMMENT_NODE_ID}
      - name: Set Up Git
        run: source scripts/gitconfig.sh
      - run: mkdir -p ${PWD}/prompts          
      - name: Pull Discussion Comment Content
        run: |
          # Webhook events for GitHub Discussions are currently in beta and subject to change.
          node scripts/extractprompt.js ${DISCUSSION_BODY} ${COMMENT_BODY}  | node scripts/mergeprompt.js > prompts/${DISCUSSION_NODE_ID}
      - name: Commit content
        run: |
          git add prompts/*
          git commit -m "modified prompt ${DISCUSSION_NODE_ID}"
          git push
        
